langchain_community
tiktoken
langchain-groq
langchainhub
chromadb
langchain
langgraph
langchain-anthropic
tavily-python
pandas
openai
pinecone-client
langchain_core
fastapi
uvicorn
sentence-transformers
bs4
pydantic
gunicorn